<?xml version="1.0" encoding="UTF-8"?>
<!--<configuration debug="false" scan="true" scanPeriod="5 seconds">-->
<configuration>

    <!--<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>-->

    <!-- To enable JMX Management -->
    <!--<jmxConfigurator/>-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!--<pattern>%-5level %logger{0} - %msg%n</pattern>-->
            <Pattern>%d{"ISO8601", GMT+3} %-5level %logger{36} - %msg%n</Pattern>
        </layout>
    </appender>

    <appender name="loggly" class="ch.qos.logback.ext.loggly.LogglyAppender">
        <endpointUrl>https://logs-01.loggly.com/inputs/8abf3288-008b-45e1-af83-bcdaa762a981/tag/logback</endpointUrl>
        <pattern>%d{"ISO8601", UTC}  %p %t %c{0}.%M - %m%n</pattern>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>trace</level>
        </filter>
    </appender>


    <!-- Logging levels: error, warn, info, debug, trace -->
    <root level="trace">
        <appender-ref ref="STDOUT" />
    </root>

    <logger name="ru.sadv1r.vk.parser" level="TRACE">
        <appender-ref ref="loggly" />
    </logger>


    <!--
    &lt;!&ndash; #############################
         ### Our Project ###
         ############################# &ndash;&gt;
    <logger name="org.apache" level="info"/>

    &lt;!&ndash; #############################
         ### Spring JDBC ###
         ############################# &ndash;&gt;
    <logger name="org.springframework.jdbc" level="warn"/>

    &lt;!&ndash; #############################
         ### Spring TRANSACTION ###
         ############################# &ndash;&gt;
    <logger name="org.springframework.transaction" level="info"/>

    &lt;!&ndash; #############################
         ### Spring ORM logging ###
         ############################# &ndash;&gt;
    <logger name="org.springframework.orm" level="debug"/>

    &lt;!&ndash; #############################
         ### Spring HIBERNATE ###
         ############################# &ndash;&gt;
    <logger name="org.springframework.orm.hibernate" level="warn"/>

    &lt;!&ndash; #############################
         ### Spring JPA ###
         ############################# &ndash;&gt;
    <logger name="org.springframework.orm.jpa" level="warn"/>

    &lt;!&ndash; #############################
         ### All Hibernate ###
         ############################# &ndash;&gt;
    <logger name="org.hibernate" level="info"/>

    &lt;!&ndash; #############################
         ### SQL Fragmnts & Stmnts ###
         ############################# &ndash;&gt;
    <logger name="org.hibernate.sql" level="trace"/>

    &lt;!&ndash; #############################
         ### Map Java-JDBC types ###
         ############################# &ndash;&gt;
    <logger name="org.hibernate.type" level="warn"/>

    &lt;!&ndash; #############################
         ### Schema Gen and DDL ###
         ############################# &ndash;&gt;
    <logger name="org.hibernate.tool.hbm2ddl" level="warn"/>

    &lt;!&ndash; #############################
         ### 2nd Lvl Query Caching ###
         ############################# &ndash;&gt;
    <logger name="org.hibernate.cache" level="warn"/>


    <logger name="org.hibernate" level="debug" />

    <logger name="org.springframework" level="TRACE" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
    -->
</configuration>