<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <!--<contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>-->

    <!-- To enable JMX Management -->
    <!--<jmxConfigurator/>-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!--<pattern>%-5level %logger{0} - %msg%n</pattern>-->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{"ISO8601", GMT+3} %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
    </appender>

    <!-- Logging levels: error, warn, info, debug, trace -->
    <root level="trace">
        <appender-ref ref="STDOUT"/>
    </root>

    #############################
    ### Our Project ###
    #############################
    <logger name="ru.sadv1r.vk.parser" level="trace"/>
</configuration>